mat-card {
  max-width: 70%;
  margin: 2em auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  background-color: rgb(223, 231, 242);
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.toolbar{
  border-collapse: collapse;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

.loading-spinner {
  padding: 150px;
  background: rgba(0, 0, 0, 0.15);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arredondarBottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}


