mat-card {
  margin: 2em auto;
  width: 40%;
}

.tituloToolBar {
  padding: 10px;
  align-items: end;
}

.full-widht1 {
  width: 100%;
  padding-top: 20px;
}

.full-widht {
  width: 100%;
}

.min-widht {
  width: 100%;
  min-width: 150px;
}

.botoes {
  color: black
}
