mat-card {
  margin: 2em auto;
  width: 40%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.tituloToolBar {
  padding: 10px;
  align-items: center;
}

.full-widht1 {
  width: 100%;
  padding-top: 20px;
}

.full-widht {
  width: 100%;
}

.min-widht {
  width: 100%;
  min-width: 150px;
}

.spacer {
  flex: 1 1 auto;
}

.pad {
  margin-right: 9px;
  margin-bottom: 9px;
}
