<mat-card class="tabela">
  <mat-card-content>
    <mat-toolbar color="primary" class="toolbar">
      <span>Cursos Disponíveis</span>
    </mat-toolbar>

    <div *ngIf="courses$ | async as courses; else loading">
      <table mat-table [dataSource]="courses" class="mat-elevation-z8">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let curso">{{ curso._id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome do Curso</th>
          <td mat-cell *matCellDef="let curso">{{ curso.name }}</td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let curso">
            {{ curso.category }}
            <mat-icon
              aria-hidden="false"
              aria-label="Categoria do Curso"
              fontIcon="{{ curso.category | category }}"
            ></mat-icon>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-mini-fab color="primary" aria-label="Adicionar um Curso" (click)="onAdd()" >
              <mat-icon >add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let course">
            <button mat-icon-button color="primary" aria-label="Editar Curso">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Apagar Curso">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
